<h1>Add a new Restaurant</h1>

<%= simple_form_for [ @restaurant ] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], as: :radio_buttons, item_wrapper_class: 'inline'%>
  <%= f.submit "create restaurant", class: "btn btn-primary" %>
<% end %>
