<div class="banner">
  <h1>Welcome to</h1>
  <%= link_to 'add a review', new_restaurant_review_path(@restaurant) , class: 'btn btn-primary'%>
</div>

<div class="container">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>


    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %> <%= review.rating %> / 5</li>
      <% end %>
    </ul>

</div>
